@model MaerskLineWebApp.Models.Shipyard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shipyard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shipyard_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipyard_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipyard_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipyard_Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShipyardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
